
/* .create-list-wrapper {
    min-height: 700px; /* Set minimum height */
    
   
  /*  */
/* .create-list-container{
    min-height: 700px;
   
} */ 

.box-shadow{
    box-shadow: 0 0  6px rgba(0, 0, 0, 0.1)
}

.custom-height-input{
    min-height: 50px;
}