.login-page-container {
  background: rgb(20,20,20);
  background: linear-gradient(0deg, rgba(144,148,158,1) 4%, rgba(82,100,107,1) 39%, rgba(20,20,20,1) 69%);
  height: 100vh; 
}

.login-wrapper {
  position: relative; /* Make the wrapper the reference point for the close button */
  border-bottom: rgba(255,255,255,0.7);
  min-height: 500px;
  max-height: 100%; 
  overflow: auto; 
  padding: 20px;
}

.close-button {
  position: absolute;  
  top: 20px;           
  right: 20px;         
  cursor: pointer;     
  color: white;        
}
a{
  cursor: pointer;
}


/* Media query for screens smaller than 768px */
@media (max-width: 768px) {
  .login-wrapper {
    max-height: none; 
    padding: 25px;  
  }
}
