.login-page-container {
  background: linear-gradient(90deg, #032d5f, #043873, #054596);
  color: white;

  height: 100vh; 
}

.login-wrapper {
  position: relative; /* Make the wrapper the reference point for the close button */
  border-bottom: rgba(255,255,255,0.7);
  min-height: 500px;
  max-height: 100%; 
  overflow: auto; 
  padding: 20px;
}

.close-button {
  position: absolute;  
  top: 20px;           
  right: 20px;         
  cursor: pointer !important;     
  color: white;        
}
a{
  cursor: pointer;
}


/* Media query for screens smaller than 768px */
@media (max-width: 768px) {
  .login-wrapper {
    max-height: none; 
    padding: 25px;  
  }
}
